@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  background: #222222;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  float: left;
  margin: 10px 0 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;
  position: relative;
}

nav a {
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

nav a:hover {
  color: #000000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 300ms;
}

nav a:hover::before {
  width: 100%;
}
