body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #070F15;
	color: white;
    margin: 0;
	padding: 0;
}

form {
	text-align: center;
}

select, button {
    min-height: 25px;
    min-width: 50px;
}

.col {
	display: inline-block;
}

.row {
	text-align: center;
    height: 29vh;
    padding-bottom: 5px;
}

.tile {
	display: inline-block;
	padding: 0px;
    width: 32%;
    height: 100%;
}